/* .heading {
    color: #4aaaa5;
} */

#paragraphs{
    color: #777777;
}

.head{
    border-color: #cccccc;
    background-color: #ffffff ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    width: 960px;
   
  

    

}

nav{
    float: right;
}

#about{
    float: right;
    color: #777777;
    margin: auto;
    padding: 10px;
    
   
}

#Portfolio{
    float: right;
    color: #777777;
    margin: auto;
    padding: 10px;


}

#Contact{
    float: right;
    color: #777777;
    margin: auto;
    padding: 10px;
   
}

#name{
    font-size: 32px;
    color: white;
    background-color: #4aaaa5;
    margin: auto;
    width: 500px;
    font-weight: bold;
    
   
   
    
}
article{
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    display: block;
    margin: auto;
   

}
body{
    background-image: url(../beanstalk.png);
    /* font-family: Arial, Helvetica, sans-serif; */
   
    
}
h1{
    border-style: solid;
    border-color:#777777;
    margin: auto;
    border-right: none;
    border-left: none;
    color: #4aaaa5;
    border-top: none;
    border-bottom: solid #777777 1px;
    width: 960px;
    background-color: white;
    
}
#profilepic{
    margin: 4px 10px 0px 0px;
    border: 1px;
    padding: 10px;
    padding-top: 0;
    float: left;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    color: white;
    text-align: center;
    border-top: solid 5px;
    border-color: #4aaaa5;

}
#fname {
    width:90%;
    
}

#lname{
    width: 90%;
}

#email{
    width: 90%;
}

#message{
    width: 90%;
    height: 90%;
}
#travelpic {
    margin: 4px 10px 0px 0px;
    border: 1px;
    padding: 10px;
    top: 20%;
    left: 30%;
    float: left;
    

    

}
#bookspic {
    margin: 4px 10px 0px 0px;
    border: 1px;
    padding: 10px;
    
    
    
    

}
#languagespic {
    margin: 4px 10px 0px 0px;
    border: 1px;
    padding: 10px;
    float: left;
    
  
    

}

#videogamespic {
    margin: 4px 10px 0px 0px;
    border: 1px;
    padding: 10px;
   
   
    

}
#musicpic {
    margin: 4px 10px 0px 0px;
    border: 1px;
    padding: 10px;
   
    

}

.imagecontainer{
    position: relative;
}

/* Wasn't able to stretch text boxes across each picture */

#textboxtravel{
    position: absolute;
    bottom: 20px;
    left: 80px;
    background-color: #4aaaa5;
   
    
}

#textboxbooks{
    position: absolute;
    bottom: 20px;
    left: 90px;
    background-color: #4aaaa5;

}

#textboxlanguages{
    position: absolute;
    bottom: 20px;
    left: 90px;
    background-color: #4aaaa5;

}

#textboxlanguages{
    position: absolute;
    bottom: 20px;
    left: 70px;
    background-color: #4aaaa5;

}

#textboxvideogames{
    position: absolute;
    bottom: 20px;
    left: 70px;
    background-color: #4aaaa5;

}

#textboxmusic{
    position: absolute;
    bottom: 25px;
    left: 90px;
    background-color: #4aaaa5;

}


#pics{
display: flex;
justify-content: center;
border: 2px;
} 
 @media screen and (max-width: 980px) {
    #name{
        width: 400px;
        display: inline-block;
        float: none;
        margin: auto;
        text-align: center;
    }

    nav{
        text-align: center;
        width: 400px;
        display: inline-block;
        float: none;
        margin: auto;
        border: 0px;
 /* Can't make nav length any shorter with out the nav links going to another line        */
        
    }

.head{
    width: 900px;

}
body{

    width: 800px;
    

}

article{
    width: 800px;
}

h1{
    width: 800px;
}
footer{
    height: 10%;
}
form{
    height: 20%;
}

.piccontainer{
    

}
#pics{
    width: 50px;
    display: block;


};

/* Having an issue with my media queries. I can only access each one separately  when they are listed at the top. comment out decending media query to access their features */

@media screen and (max-width: 768px) {

    #name{
       width: 300px;
       display: inline-block;
       float: none;
       margin: auto;
       text-align: center;
       
      
   }
 
     nav{
         text-align: center;
         width: 300px;
         display: inline-block;
         float: none;
         margin: auto;
        
        
         
     }
     body{
        width: 700px;

     }

article{

    width: 700px;

}
       
      
     
     p {
       width: 600px;
       display: inline-block;
       float: none;
       margin: auto;
       
     }

    footer{
    height: 10%;

    }

    h1 {
        width: 700px;
    }


       };
        
      

  
  
 
@media screen and (max-width: 640px) {
/* I was not able to get the contact, portfolio and about nav bar options to go to another line because they are nested in too many elements */
/* I was not able to create space between the footer and the body    */
/* This screen length looks prettiy bad for the portfolio. Was unable to optimize with how the HTML is currently built.  */
    #name {
      width: 550px;
      display: inline-block;
      float: none;
      margin: auto;
      text-align: center;
     
    }

    nav{
        width: 550px;
        float: none;
        display: inline-block; 
        margin: auto;
        text-align: center;
        position:static
        
    }

    h1{
        width: 550px;
        display: inline-block;
        float: none;
        margin: auto;
        text-align: center;

      
    }
    #profilepic{
        width: 400px;
        height: 400px;
    
    }
    .bio{
        display: inline-block;
        float: none;
        margin: auto;
        text-align: center;
        width: 600px;
       
        

    }
    footer{
        position: unset;
       
        
        
        

        
    }
    body{
        width: 550px;
        float: none;
        

      
        
        
    }
    article{
        width: 550px;
        margin:auto
        
    }
    p{
        width: 420px;
        margin: auto;
    }
    input{
        display: inline-block;
        float: none;

    }

    form{
        padding-bottom: 20px
    
    }
};